<div class="row">
  <div class="col s12 l10 offset-l1">
    <div class="card-panel">
      <h4 style="margin: 0;">Check out the content</h4>
      <blockquote style="border-left: 5px solid #9575cd">
        Contributing some <b>sweet</b> content is easy. Click the link below
        to get started!
      </blockquote>
      <hr>
      <%= link_to "Create content", new_post_path, :class => "btn btn-small deep-purple lighten-2" %>
    </div>
  </div>
</div>


<% @posts.each do |current_post| %>
<div class="row">
  <div class="col s12 l10 offset-l1">
    <div class="card-panel">
      <blockquote style="border-left: 5px solid #9575cd">
        <i>
          "<%= current_post.content %>"
          <br>
          <b class="right">
            -
            <%= current_post.name %>
          </b>
        </i>
      </blockquote>
      <br>
      <hr>
      <%= link_to "View", post_path(current_post), :class => "btn btn-small deep-purple lighten-2" %>
    </div>
  </div>
</div>
<% end %>